{% extends "base.html.twig" %}

{% block title %}
    Accueil -
    {{parent()}}
{% endblock %}

{% block body %}
    <div id="main" class="d-flex align-items-center justify-content-center py-3 py-md-5 text-center catchphrase-image">
        <div class="card col-md-8 p-lg-8 mx-auto p-5 mb-3 catchphrase-background">
            <h1 class="display-4 fw-normal text-white">Phrase d'accroche</h1>
            <p class="lead fw-normal text-white">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam pulvinar vestibulum nunc nec ornare. Donec id massa ac nisi interdum imperdiet non rutrum sem. Morbi aliquam accumsan commodo.</p>
        </div>
        <div class="product-device shadow-sm d-none d-md-block"></div>
        <div class="product-device product-device-2 shadow-sm d-none d-md-block"></div>
        <a href="#tricks" class="scroll-btn scroll-down"><i class="fas fa-arrow-circle-down"></i></a>
    </div>
    <div id="tricks" class="d-flex flex-row flex-wrap justify-content-around mx-3 pt-3 pb-5 px-2 text-center">
        <h3 class="display-4 col-12 fw-normal mb-4"><i class="fas fa-snowboarding text-primary me-3"></i>Derniers tricks</h3>
        {% for i in 0..11 %}
            <a href="#" class="mb-3 col-sm-12 col-md-3 px-2 trick">
                <div class="card bg-light d-flex flex-row flex-wrap card-body p-2 shadow-sm">
                    <img class="mw-100" src="{{ asset('img/default_trick.jpg') }}" alt="Trick" />
                    <h5 class="card-title text-dark px-0 mt-1 m-0 fw-bold"><i class="fas fa-chevron-right text-primary me-1"></i>Trick {{ i }}</h5>
                </div>
            </a>
        {% endfor %}
        <button class="btn btn-primary">
            <i class="fas fa-spinner"></i><br />Charger plus de tricks
        </button>
    </div>
    <a href="#main" class="scroll-btn scroll-up text-primary"><i class="fas fa-arrow-circle-up"></i></a>


{% endblock %}