{% extends "base.html.twig" %}

{% block title %}
    Trick -
    {{parent()}}
{% endblock %}

{% block body %}
    <div class="d-flex flex-row flex-wrap justify-content-around pt-3 pb-5 px-2 text-center">

    </div>

{% endblock %}