{% extends "base.html.twig" %}

{% block title %}
    Trick -
    {{parent()}}
{% endblock %}

{% block body %}
        <section id="trick-hero" class="d-flex flex-row flex-wrap align-items-center justify-content-center container-fluid px-0 position-relative pb-3 text-center">
            <img src="{{ asset('img/default_trick.jpg') }}" class="trick-img" alt="...">
            <div class="card col-md-8 p-lg-8 mx-auto catchphrase-background p-2 container position-absolute">
                <h1 class="display-4 fw-normal text-white">Trick name</h1>
            </div>
            <div class="trick-action px-3 py-2 ms-auto me-3">
                <a href="#"><em class="mx-2 fas fa-pen text-warning"></em></a>
                <a href="#"><em class="mx-2 fas fa-trash-alt text-danger"></em></a>
            </div>
        </section>
        <section id="trick-media" class="d-flex flex-row flex-wrap justify-content-around container-fluid px-0 py-3 text-center">
            <div id="carouselExampleControls" class="carousel container slide w-100" data-bs-ride="carousel">
                <div class="carousel-inner py-2">
                    <div class="carousel-item active">
                        <div class="d-flex justify-content-center">
                            {% for i in 0..2 %}
                                <a href="#" class="col-12 col-md-3 px-2 trick">
                                    <div class="card bg-light d-flex flex-row flex-wrap card-body p-2 shadow-sm">
                                        <img class="mw-100" src="{{ asset('img/default_trick.jpg') }}" alt="Trick" />
                                    </div>
                                </a>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="d-flex justify-content-center">
                            {% for i in 0..2 %}
                                <a href="#" class="col-12 col-md-3 px-2 trick">
                                    <div class="card bg-light d-flex flex-row flex-wrap card-body p-2 shadow-sm">
                                        <img class="mw-100" src="{{ asset('img/default_trick.jpg') }}" alt="Trick" />
                                    </div>
                                </a>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                    <em class="fas fa-chevron-left text-primary"></em>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                    <em class="fas fa-chevron-right text-primary"></em>
                </button>
            </div>
        </section>
    <div class="container-fluid">
        <section id="trick-info" class="d-flex flex-row flex-wrap container justify-content-around my-3 py-2 text-center">
            <div class="d-flex flex-row flex-wrap justify-content-center col-12 col-md-7 mb-2">
                <h3 class="col-12 fw-bold mt-1">Double flip floup 1080</h3>
                <div class="alert alert-primary trick-category small">Flip</div>
                <small class="w-100 text-muted mb-1"><em class="fas fa-clock me-2"></em>Trick posté par <span class="fw-bold text-primary">Guy MAUVE</span> le 01/01/2022 à 22:22 </small>
                <p class="col-12 text-justify">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ut ultricies leo. Morbi suscipit rutrum ligula, vel sodales orci finibus non. Cras eu vulputate tortor. Proin id eleifend ligula, quis dapibus risus. Praesent suscipit ornare nibh sit amet facilisis. Etiam iaculis mattis eros, vel commodo ligula hendrerit aliquet. Praesent pretium id neque ut mattis. Curabitur ultricies tellus ut accumsan imperdiet. </p>
                <button class="btn btn-outline-primary mx-auto" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                    Voir l'historique des contributions
                </button>
                <div class="collapse col-12 mt-4" id="collapseExample">
                    {% for i in 0..12 %}
                        <div class="w-100 ultra-small text-muted mb-1"><em class="fas fa-clock me-2"></em>Modification le 01/01/2022 à 22:22  par <span class="fw-bold text-primary">Guy MAUVE</span></div>
                    {% endfor %}
                </div>
            </div>
        </section>
        <section id="trick-comments" class="d-flex flex-column flex-wrap container-fluid justify-content-around align-items-center my-3 pt-5 pb-5 text-center">
            <div class="container">
                <div class="d-sm-flex align-items-center justify-content-between mb-4">
                    <h1 class="h3 mb-0 text-gray-800 mx-2"><em class="fas fa-comments text-primary me-2"></em>Commentaires</h1>
                </div>
                <div class="alert alert-danger" role="alert">
                    <em class="fas fa-exclamation-circle me-2"></em>Vous devez être connecté pour pouvoir ajouter un commentaire
                </div>
                <div class="text-start">
                    <span class="col-12 fw-bold text-primary"><em class="fas fa-user me-1"></em> Guy MAUVE</span>
                    <form action="ROUTE" method="POST" class="d-flex flex-row justify-content-end flex-wrap px-3">
                        <textarea class="form-control my-2" id="comment" name="comment"></textarea>
                        <input type="number" class="d-none" id="postId" name="postId" readonly value="ID" />
                        <button class="btn btn-success px-3"><em class="fas fa-paper-plane me-2"></em>Poster</button>
                    </form>
                </div>
                <div class="small text-muted font-italic">Il n'y a pas encore de commentaire</div>
                {% for i in 0..2 %}
                    <div class="mb-3 col-12">
                        <div class="card bg-light d-flex flex-row flex-wrap card-body p-2 shadow-sm">
                            <em class="fas fa-comment text-primary reverse-h me-1"></em><span class="fw-bold text-primary">Jean BONNEAU</span>
                            <span class="ms-auto text-muted">01/01/01 à 22:22<em class="far fa-clock ms-1"></em></span>
                            <blockquote class="blockquote text-start col-12 m-0 px-0">
                                <small class="card card-text border-0 text-dark col-12 p-4 mt-2">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ut ultricies leo. Morbi suscipit rutrum ligula, vel sodales orci finibus non.</small>
                            </blockquote>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <button class="btn btn-primary w-25">
                <em class="fas fa-spinner"></em><br />Charger plus de commentaires
            </button>
        </section>
    </div>
{% endblock %}