<footer id="footer">
    <div class="footer shadow-footer bg-primary text-white p-3">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center widget">
                    <div class="widget-body">
                        <img src="{{ asset('img/logo.png') }}" alt="SnowTricks Logo" />
                        <br />Copyright &copy; 2021
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<script src="{{ asset('js/jquery-3.3.1.min.js') }}"></script>
<script src="{{ asset('js/popper.min.js') }}"></script>
<script src="{{ asset('js/bootstrap.min.js') }}"></script>
